<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="tr">
<head>
<title>Red Login Box</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1254" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
<div id="main">

<!-- Header Starts -->
<div id="login-header">
<div class="paddingtop"></div>
<span class="text">Admin Panel Login</span>
</div>
<!-- /Header Ends -->

<!--  White Space-->
<div id="line"></div>
<!--/ White Space-->

<form action="#" method="post">
<!-- Login Section Starts -->
<div id="login-inputs">
<input class="username" name="username" type="text" value="Username" onblur='this.value = this.value || this.defaultValue;' onfocus='this.value = &apos;&apos;;'/>
<input class="password" name="username" type="password" value="****************" onblur='this.value = this.value || this.defaultValue;' onfocus='this.value = &apos;&apos;;'/>
</div>
<!-- /Login Section Ends -->

<!-- Footer Starts -->
<div id="footer">
<div id="rememberandcheck">
<input id="checkbox" name="checkbox" type="checkbox" /><label for="checkbox" class="remember">Remind My Password</label>
</div>
<div class="loginbutton">
<a href="#"><span title="Giriş Yap" class="textbutton">Login</span></a>
</div>
</div>
<!-- /Footer Ends -->
</form>
</div>
<div id="credit">
<span class="credits">Recomended Browsers : All Major Browsers</span>
</div>
</body>
</html>