{% extends "home.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="../../static/css/style.css"type="text/css"> 
{% endblock %}

{% block contenido %}
{% if objectlist %}
     <TABLE CELLSPACING="20">
	     <TR>
		  <TD>Titulo</TD><TD>Autor</TD><TD>Puntuación</TD>
	     </TR>
	     <ul>
	     	{% for e in objectlist %}
		     <TR>
			  <TD>{{ e.titulo }}</TD><TD>{{ e.autor }}</TD><TD>{{ e.puntuacion }}</TD>
		     </TR>
	     	{%endfor%}
	       </TABLE>
	    </ul>
{% else %}
    <p>No hay articulos aceptados.</p>
{% endif %}

{% endblock %}
